package g_vs_templ

type User struct {
	Name  string
	Admin bool
}

templ Page(users []User) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Benchmark Page</title>
		</head>
		<body>
			<h1>Users List</h1>
			<ul>
				for _, user := range users {
					<li>
						{ user.Name }
						if user.Admin {
							<span> (Admin)</span>
						}
					</li>
				}
			</ul>
			if len(users) == 0 {
				<p>No users found.</p>
			}
			<div>
				for range 5 {
					<hr/>
				}
			</div>
		</body>
	</html>
}
